.card {
  border-radius: 0px;
  border: none !important;
}
.card-head {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.title {
  font-weight: bold !important;
  color: black !important;
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
}
