.sidebar {
  width: 350px;
  background-color: #df2027 !important;
  position: absolute !important;
  z-index: 1;
  overflow: auto;
  color: white !important;
}
.category {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}
.category:hover {
  color: black;
}
.subCategory {
    color: white;
    text-decoration: none;
  }
  .subCategory:hover {
    color: black;
  }